<library path="lib/libservice_widget">
	<class name="service_widget" type="nimbro_service_transport::ServiceWidget" base_class_type="rqt_gui_cpp::Plugin">
		<description>
			Display service status
		</description>
		<qtgui>
			<group>
				<label>NimbRo Network</label>
				<icon type="theme">folder</icon>
			</group>
			<label>Service Status</label>
			<icon type="theme">network-wireless</icon>
			<statustip>Diagnostic information</statustip>
		</qtgui>
	</class>
</library>
