<launch>
  <node pkg="nodelet_gui_manager" type="nodelet_gui_manager" name="standalone_nodelet" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="Camera" args="load openplatform/camera_ueye standalone_nodelet" output="screen">
  </node>
  <node pkg="nodelet" type="nodelet" name="Classificator" args="load openplatform/classificator standalone_nodelet" output="screen">
  </node>
</launch>