<?xml version="1.0"?>

<model>
  <name>TeenSize Goal</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Grzegorz Ficht</name>
    <email>ficht@ais.uni-bonn.de</email>
  </author>

  <description>
    A RoboCup TeenSize League goal according to 2016 rules.
  </description>
</model>
