<?xml version="1.0"?>

<model>
  <name>TeenSize Ball</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Philipp Allgeuer</name>
    <email>pallgeuer@ais.uni-bonn.de</email>
  </author>

  <description>
    A RoboCup TeenSize ball (FIFA size 3).
  </description>
</model>
