<launch rosmon-name="rosmon_robotcontrol">
    <arg name="launch_param" default="true" />
    <arg name="launch_joy" default="true" />

    <include file="$(find launch)/hardware/robot_common.launch">
        <arg name="launch_param" value="$(arg launch_param)" />
        <arg name="launch_joy" value="$(arg launch_joy)" />
    </include>

    <node name="robotcontrol" pkg="robotcontrol" type="robotcontrol" output="screen" required="true">
        <rosparam>
            hw_interface: "nimbro_op_interface::DummyInterface"
            InitPoseMotion: "init_pose_stand"
            InitMotion: "init_stand"
            GetupProneMotion: "getup_prone"
            GetupSupineMotion: "getup_supine"
            GetupLeftProneMotion: "getup_left_prone"
            GetupLeftSupineMotion: "getup_left_supine"
            GetupRightProneMotion: "getup_right_prone"
            GetupRightSupineMotion: "getup_right_supine"
            LandingProneMotion: "landing_prone"
            LandingSupineMotion: "landing_supine"
            motion_modules:
            - "fall_protection::FallProtection"
            - "gait::Gait (cap_gait::CapGait)"
            - "limb_control::LimbControl"
            - "headcontrol::HeadControl"
            - "motionplayer::MotionPlayer"
        </rosparam>
    </node>
</launch>
