<launch>
    <include file="$(find launch)/hardware/robot_common.launch" />

    <node name="robotcontrol" pkg="robotcontrol" type="robotcontrol" output="screen" required="true">
        <rosparam>
            hw_interface: "nimbro_op_interface::DummyInterface"
            motion_modules: []
            default_effort: 0.7
        </rosparam>
    </node>
</launch>
