<launch>
    <include file="$(find launch)/hardware/robot_common.launch" />

    <node name="robotcontrol" pkg="robotcontrol" type="robotcontrol" output="screen" required="true">
        <rosparam>
            hw_interface: "nimbro_op_interface::DummyInterface"
            InitPoseMotion: "init_pose_stand"
            InitMotion: "init_stand"
            GetupProneMotion: "getup_prone"
            GetupSupineMotion: "getup_supine"
            GetupLeftProneMotion: "getup_left_prone"
            GetupLeftSupineMotion: "getup_left_supine"
            GetupRightProneMotion: "getup_right_prone"
            GetupRightSupineMotion: "getup_right_supine"
            motion_modules:
            - "fall_protection::FallProtection"
            - "indep_cpg_gait::IndepCPGGait"
            - "motionplayer::MotionPlayer"
            - "limb_control::LimbControl"
            - "headcontrol::HeadControl"
        </rosparam>
    </node>
</launch>
