<launch>
    <include file="$(find launch)/hardware/robot_common.launch" />

    <node name="robotcontrol" pkg="robotcontrol" type="robotcontrol" output="screen" required="true">
        <rosparam>
            hw_interface: "robotcontrol::GazeboInterface"
            prefix: "/nimbro_op"
            modelName: "nimbro_op"
            initial_state: "init"
            init_relaxed: false
            InitPoseMotion: "init_pose"
            InitMotion: "init"
            GetupProneMotion: "getup_prone"
            GetupSupineMotion: "getup_supine"
            GetupLeftProneMotion: "getup_left_prone"
            GetupLeftSupineMotion: "getup_left_supine"
            GetupRightProneMotion: "getup_right_prone"
            GetupRightSupineMotion: "getup_right_supine"
            motion_modules:
            - "fall_protection::FallProtection"
            - "indep_cpg_gait::IndepCPGGait"
            - "motionplayer::MotionPlayer"
            - "headcontrol::HeadControl"
        </rosparam>
    </node>
</launch>
