<launch>
	<node name="tw" pkg="timewarp" type="timewarp" output="screen" />

	<param name="/vis/use_sim_time" value="true" />
	<param name="/field_type" value="kidsize" />

	<env name="ROS_NAMESPACE" value="vis" />
	<env name="ROS_ARGUMENTS" value="/tf:=/vis/tf /use_sim_time:=/vis/use_sim_time  /joint_states:=/vis/joint_states --clock" />

	<node name="rqt" pkg="rqt_gui" type="rqt_gui" required="true" respawn="false" output="screen" />
</launch>
