<launch rosmon-name="rosmon_visualization">
    <param name="/use_sim_time" value="true" />

    <include file="$(find launch)/hardware/robot_common_vis.launch" />

    <arg name="pname" default="." />
    <include file="$(find launch)/visualization/visualization.launch">
        <arg name="pname" value="$(arg pname)" />
    </include>
</launch>
