<launch rosmon-name="rosmon_visualization">
    <param name="/use_sim_time" value="true" />

    <include file="$(find launch)/hardware/robot_common_vis.launch" />

    <include file="$(find launch)/visualization/vis_param.launch" />

    <node name="tw" pkg="timewarp" type="timewarp" output="screen">
        <rosparam>
            extra_topics:
            - /vision/webImg
            - /vision/takenImg
        </rosparam>
    </node>

    <arg name="pname" default="plotter" />
    <node name="rqt_base" pkg="launch" type="rqt_base.sh" required="true" respawn="false" args="$(arg pname)" output="screen">
        <env name="ROS_NAMESPACE" value="vis" />
        <env name="ROS_ARGUMENTS" value="/tf:=/vis/tf /use_sim_time:=/vis/use_sim_time /joint_states:=/vis/joint_states /clock:=/vis/clock" />
    </node>
</launch>
