<launch>
	<arg name="robot_name" default="$(env NIMBRO_ROBOT_NAME)" />

	<node name="config_server" pkg="config_server" type="config_server" output="screen" required="true">
		<param name="config_path" value="$(find launch)/config" />
		<param name="robot_name" value="$(arg robot_name)" />
		<param name="save_backups" value="true" />
		<param name="backup_path" value="/var/log/nimbro/config_server" />
		<param name="max_backup_uids" value="5" />
		<param name="backup_interval" value="60.0" />
	</node>
</launch>
